<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>In-Game</title>
    </head>
    <body>
        <div class="game--page">
            <div class="game--tile game--user-tile">
                <h3 class="game--user-name">Dylan12345</h3>
                <div class="game--user-status"></div>
            </div>
            <div class="game--tile game--turn-tile">
                <img
                    class="game--turn-coin"
                    src="/p1-coin.svg"
                    alt="current player"
                />
                <h1 class="game--turn-title">Opponent's Turn!</h1>
            </div>
            <div class="game--tile game--players-tile">
                <h3 class="game--tile-title">Players:</h3>
                <div class="game--players-holder">
                    <img
                        class="game--players-coin"
                        src="/p1-coin.svg"
                        alt="your coin"
                    />
                    <p class="game--players-name">Dylan12345</p>
                </div>
                <div class="game--players-holder">
                    <img
                        class="game--players-coin"
                        src="/p2-coin.svg"
                        alt="opponent's coin"
                    />
                    <p class="game--players-name">Dylan54321</p>
                </div>
            </div>
            <div class="game--game-tile">
                <ul class="game--game-buttons">
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                </ul>
                <img
                    src="/board.svg"
                    alt="game board"
                    class="game--game-board"
                />
                <div class="game--game-end">
                    <div class="game--game-end-marker"></div>
                    <a href="/home">
                        <div class="game--game-end-card">
                            <h1 class="game--game-end-title">You Win!</h1>
                            <h3 class="game--game-end-return">
                                Click Here to Return Home
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
