<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>In-Game</title>
    </head>
    <body>
        <div class="game--page">
            <div class="game--tile game--user-tile">
                <h3 class="game--user-name"><%= name %></h3>
                <div class="game--user-status"></div>
            </div>
            <div class="game--tile game--turn-tile">
                <img
                    class="game--turn-coin"
                    src="/p1-coin.svg"
                    alt="current player"
                />
                <h1 class="game--turn-title">Opponent's Turn!</h1>
            </div>
            <div class="game--tile game--players-tile">
                <h3 class="game--tile-title">Players:</h3>
                <div class="game--players-holder">
                    <img
                        class="game--players-coin"
                        src="/p1-coin.svg"
                        alt="your coin"
                    />
                    <p class="game--players-name" id="player1">Dylan12345</p>
                </div>
                <div class="game--players-holder">
                    <img
                        class="game--players-coin"
                        src="/p2-coin.svg"
                        alt="opponent's coin"
                    />
                    <p class="game--players-name" id="player2">Dylan54321</p>
                </div>
            </div>
            <div class="game--game-tile">
                <ul class="game--game-buttons">
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                    <li class="game--game-buttons-entry">
                        <button class="game--game-button">
                            <img
                                src="/p1-coin.svg"
                                alt="place coin"
                                class="game--game-coin"
                            />
                        </button>
                    </li>
                </ul>
                <img
                    src="/board.svg"
                    alt="game board"
                    class="game--game-board"
                />
                <div class="game--game-end">
                    <div class="game--game-end-marker"></div>
                    <a href="/home">
                        <div class="game--game-end-card">
                            <h1 class="game--game-end-title">You Win!</h1>
                            <h3 class="game--game-end-return">
                                Click Here to Return Home
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();

            var userID = "<%= userInfo.id %>";
            var username = "<%= userInfo.name %>";
            var roomCode; 
            var myNum;
            var opponent;
            var opponentNum;

            socket.on("connect", () => {
                socket.emit("join", {userID, username});
            });

            socket.on("room assignment", (code) => {
                roomCode = code;
                console.log(roomCode);
                socket.emit("get game state", roomCode);
                socket.emit("get players", roomCode);
            });

            socket.on("response game state", (response) => {
                console.log(response);
            });

            socket.on("response players", (response) => {

                if (response.player1.username === username) { // User is player 1
                    myNum = 1;
                    opponentNum = 2;
                    opponent = response.player2.username
                } else { // User is player 2
                    myNum = 2;
                    opponentNum = 1;
                    opponent = response.player1.username
                }

                // Set player text and colors
                var p1Text = document.getElementById("player1");
                var p2Text = document.getElementById("player2");

                if (myNum == 1) { // Red color
                    p1Text.textContent = username;
                    p2Text.textContent = opponent;
                    var turnCard = document.getElementsByClassName("game--turn-title")[0];
                    turnCard.textContent = "Your Turn!";   
                } else { // Yellow color
                    p1Text.textContent = opponent;
                    p2Text.textContent = username;
                    var coins = document.getElementsByClassName("game--game-coin");
                    for (let i = 0; i < coins.length; i++) {
                        coins.item(i).src = "/p2-coin.svg"
                    }
                }
                // Set players 
                console.log(response);
            });


            console.log(userID);
            console.log(username)
        </script>
    </body>
</html>
