<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <div class="login--page">
            <div class="login--holder">
                <h1 class="login--title">Login</h1>
                <form class="login--form" action="/auth/login" method="POST">
                    <p class="login--username-label login--label">Username</p>
                    <input
                        class="login--input"
                        type="email"
                        id="email"
                        name="email"
                    />
                    <p class="login--password-label login--label">Password</p>
                    <input
                        class="login--input"
                        type="password"
                        id="password"
                        name="password"
                    />
                    <button class="login--button" type="submit">
                        Let's Play!
                    </button>
                </form>
                <a href="/signup">
                    <button class="login--new-account-button">
                        Make a New Account
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>
