<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SignUp</title>
    </head>
    <body>
        <div class="login--page">
            <div class="login--holder">
                <h1 class="login--title">New Account</h1>
                <p class="login--username-label login--label">Username</p>
                <input class="login--input" type="text" />
                <p class="login--password-label login--label">Password</p>
                <input class="login--input" type="text" />
                <button class="login--button">Sign Up</button>
                <a href="/login">
                    <button
                        class="login--new-account-button login--return-button"
                    >
                        <img
                            class="login--return-icon"
                            src="chevron.svg"
                            alt="return to login"
                        />
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>
