@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$color-pink: #f59090;
$color-green: #a6e589;
$color-error-red: #d46a6a;

$color-status-green: #a6f4b7;
$color-status-orange: #f0ac8f;
$color-status-grey: #c4c4c4;

$color-white-transparent: #ffffffbf;
$color-white-x-transparent: #ffffff40;
$color-white-translucent: #ffffffcc;
$color-white-card: #ffffff80;
$color-grey-border: #9e9e9e;
$color-grey-icon: #6e6b6b;
$color-grey-text: #666666;
$color-grey-text-light: #a6a6a6;
$color-grey-light: #cacaca;

$color-board-bg: #617581;

body {
    color: $color-grey-text;
    font-family: Open Sans;
    background: url(background.jpg) no-repeat center center fixed;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

.login {
    &--page {
        display: flex;
        align-items: center;
        justify-content: center;
        text-justify: center;
        width: 100%;
        height: 100vh;
        // background-color: red;
    }

    &--holder {
        display: grid;
        padding: 4rem;
        background-color: $color-white-transparent;
        border-radius: 10px;
        text-align: start;
        backdrop-filter: blur(4px);
        border: 1px solid $color-grey-border;
        box-sizing: border-box;
    }

    &--title {
        padding: 0;
        margin: 0 0 0.5rem 0;
        font-family: Roboto;
    }

    &--form {
        display: grid;
    }

    &--label {
        padding: 0;
        margin: 0.75rem 0 0.25rem 1rem;
    }

    &--input {
        margin: 0;
        width: 40ch;
        max-width: 80vw;
        height: 2.5rem;
        border: 1px solid $color-grey-border;
        border-radius: 1.5rem;
        padding: 0 1rem;
        box-sizing: border-box;
        box-shadow: inset 0px 0px 9px -3px rgba(0, 0, 0, 0.25);
        background-color: $color-white-translucent;
        transition: border ease-in 0.2s;

        &:focus {
            outline: none;
            border: 1px solid $color-grey-icon;
        }
    }

    &--button {
        color: white;
        display: block;
        width: fit-content;
        background-color: $color-pink;
        margin-top: 1.25rem;
        padding: 1rem 2rem;
        border: none;
        font-weight: bold;
        font-size: medium;
        border-radius: 20px;
        justify-self: center;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        font-family: Open Sans;
        cursor: pointer;
    }

    &--new-account-button {
        display: block;
        width: fit-content;
        height: 3.5rem;
        margin-top: 1.25rem;
        padding: 1rem 2rem;
        border: 1px solid $color-grey-border;
        font-family: Open Sans;
        font-size: medium;
        border-radius: 20px;
        color: $color-grey-text;
        background-color: $color-white-x-transparent;
        cursor: pointer;
    }

    &--return-button {
        padding: 0;
        width: 3.5rem;
        height: 3.5rem;
    }

    &--return-icon {
        position: relative;
        top: 0.15rem;
        left: -0.15rem;
    }

    &--error-message {
        align-self: center;
        justify-self: center;
        display: block;
        position: absolute;
        top: 0rem;
        background-color: $color-error-red;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .login--holder {
        padding: 2rem;
    }
}

.home {
    &--page {
        width: calc(100% - 4rem);
        height: calc(100vh - 4rem);
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        grid-auto-rows: min-content 1fr;
        gap: 1.5rem;
        border-radius: 10px;
        padding: 1.5rem;
        margin: 2rem;
        background-color: $color-white-transparent;
        border: 1px solid $color-grey-border;
        box-sizing: border-box;
        position: absolute;
    }

    &--tile {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        background-color: $color-white-card;
        padding: 1rem;
        border-radius: 20px;
        border: 1px solid $color-grey-border;
        box-sizing: border-box;

        &-title {
            font-weight: bold;
            font-size: medium;
            margin-inline-start: 0.5rem;
        }
    }

    &--players {
        &-tile {
            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            overflow: hidden;
        }

        &-list {
            display: flex;
            flex-direction: column;
            max-height: 100%;
            overflow: auto;
            list-style: none;
            padding: 1rem 0 0.5rem 1rem;
            margin: 0;
        }

        &-entry {
            padding: 0;
            margin: 0.25rem;
        }

        &-status {
            position: absolute;
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 0.25rem;
            transform: translateY(0.5rem);
        }

        &-name {
            padding: 0;
            margin: 0;
            padding-inline-start: 1rem;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &--status {
        &-online {
            background-color: $color-status-green;
        }

        &-ingame {
            background-color: $color-status-orange;
        }

        &-away {
            background-color: $color-status-grey;
        }
    }

    &--game {
        &-tile {
            grid-column: 2;
            height: 100%;
            grid-row-start: 1;
            grid-row-end: 3;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-button {
            border: none;
            display: block;
            color: white;
            background-color: $color-green;
            font-size: xx-large;
            font-weight: bold;
            padding: 3rem 2rem;
            border-radius: 20px;
        }
    }

    &--user {
        &-tile {
            grid-column: 3;
            grid-row: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            overflow: hidden;
        }

        &-name {
            padding: 0;
            margin: 0;
            font-size: larger;
            max-width: calc(100% - 8rem);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-status {
            display: inline-block;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 0.375rem;
            margin-inline-start: 1rem;
        }

        &-status-label {
            font-size: x-small;
            color: $color-grey-text-light;
            margin-inline-start: 0.5rem;
        }

        &-logout-link {
            display: flex;
            margin-inline-start: auto;
            height: fit-content;
            align-items: center;
        }

        &-logout {
            position: absolute;
            right: 1rem;
            top: 1rem;
            width: 2rem;
            transform: translateY(0.2rem);
        }
    }

    &--stats {
        &-tile {
            grid-column: 3;
            grid-row: 2;
        }

        &-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 1rem 1.5rem 0.5rem 1.5rem;
            margin: 0;
        }

        &-item {
            display: flex;
            position: relative;
            flex-direction: row;
            margin-bottom: 0.5rem;

            &:last-child {
                margin: 0;

                &::after {
                    display: none;
                }
            }

            &::after {
                position: absolute;
                content: "";
                display: block;
                width: calc(100% + 1rem);
                height: 1px;
                background-color: $color-grey-border;
                bottom: -0.25rem;
                left: -0.5rem;
            }
        }

        &-name {
            margin: 0;
            padding: 0;
        }

        &-value {
            margin: 0;
            padding: 0;
            margin-left: auto;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .home {
        &--page {
            grid-template-columns: 2fr 3fr;
            grid-template-rows: min-content min-content min-content auto;
        }

        &--players-tile {
            grid-column: 1;
            grid-row: 2;
        }

        &--players-list {
            max-height: 20rem;
        }

        &--game-tile {
            grid-column: 2;
            grid-row-start: 1;
            grid-row-end: 5;
        }

        &--user-tile {
            grid-column: 1;
            grid-row: 1;
        }

        &--user-name {
            max-width: calc(100% - 5rem);
        }

        &--user-logout {
            top: 0.75rem;
        }

        &--user-status-label {
            display: none;
        }

        &--stats-tile {
            grid-column: 1;
            grid-row: 3;
        }
    }
}

@media only screen and (max-width: 750px) {
    .home {
        &--page {
            margin: 1rem;
            padding: 0.75rem;
            gap: 0.75rem;
            width: calc(100% - 2rem);
            height: calc(100vh - 2rem);
            grid-template-columns: 1fr;
            grid-template-rows: min-content min-content min-content auto;
            overflow: auto;
        }

        &--players-tile {
            grid-column: 1;
            grid-row: 2;
        }

        &--players-list {
            max-height: 20rem;
        }

        &--game-tile {
            grid-column: 1;
            grid-row: 4;
        }

        &--game-button {
            font-size: x-large;
            padding-block: 2rem;
        }

        &--user-tile {
            grid-column: 1;
            grid-row: 1;
        }

        &--user-status-label {
            display: none;
        }

        &--stats-tile {
            grid-column: 1;
            grid-row: 3;
        }
    }
}

.game {
    &--page {
        width: calc(100% - 4rem);
        height: calc(100vh - 4rem);
        display: grid;
        grid-template-columns: minmax(auto, 25rem) 5fr;
        grid-auto-rows: min-content min-content min-content 1fr;
        gap: 1.5rem;
        border-radius: 10px;
        padding: 1.5rem;
        margin: 2rem;
        background-color: $color-white-transparent;
        border: 1px solid $color-grey-border;
        box-sizing: border-box;
        position: absolute;
    }

    &--tile {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        background-color: $color-white-card;
        padding: 1rem;
        border-radius: 20px;
        border: 1px solid $color-grey-border;
        box-sizing: border-box;

        &-title {
            font-weight: bold;
            font-size: medium;
            margin-inline-start: 0.5rem;
        }
    }

    &--turn {
        &-tile {
            grid-column: 1;
            grid-row: 2;
            display: flex;
            flex-direction: row;
        }

        &-coin {
            width: 4rem;
        }

        &-title {
            padding-inline-start: 1rem;
            font-size: xx-large;
        }
    }

    &--players {
        &-tile {
            grid-column: 1;
            grid-row: 3;
            overflow: hidden;
        }

        &-holder {
            display: flex;
            flex-direction: row;
            margin-top: 0.5rem;
        }

        &-coin {
            width: 2rem;
        }

        &-name {
            max-width: calc(100% - 3rem);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0.5rem;
            margin-inline-start: 0.75rem;
        }
    }

    &--user {
        &-tile {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
        }

        &-name {
            max-width: calc(100% - 2rem);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-status {
            display: block;
            margin-left: auto;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 0.375rem;
            background-color: $color-status-orange;
        }
    }

    &--game {
        &-tile {
            grid-column: 2;
            grid-row-start: 1;
            grid-row-end: 5;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            overflow: hidden;
            padding: 0;
            margin: auto;
        }

        &-board {
            width: 100%;
            height: fit-content;
            max-height: 85%;
        }

        &-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 0;
            width: 100%;
            gap: 2%;
        }

        &-buttons-entry {
            list-style: none;
            width: 10.275%;
        }

        &-button {
            margin: 0;
            padding: 0;
            background: transparent;
            border: none;
            width: 100%;
        }

        &-coin {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .game {
        &--page {
            grid-template-columns: minmax(auto, 20rem) 5fr;
        }

        &--turn {
            &-title {
                font-size: x-large;
                padding: 0;
                padding-inline-start: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .game {
        &--page {
            margin: 1rem;
            padding: 0.75rem;
            gap: 0.75rem;
            width: calc(100% - 2rem);
            height: calc(100vh - 2rem);
            grid-template-columns: 1fr;
            grid-template-rows: min-content min-content min-content 1fr;
        }

        &--turn {
            &-tile {
                grid-row: 2;
            }
        }

        &--user {
            &-tile {
                grid-row: 1;
            }
        }

        &--players {
            &-tile {
                grid-row: 3;
            }

            &-holder {
                margin-top: 0.1rem;
                margin-inline-start: 0.5rem;
            }

            &-coin {
                width: 1.5rem;
            }

            &-name {
                margin-block: 0.25rem;
            }
        }

        &--game {
            &-tile {
                grid-column: 1;
                grid-row: 4;
                position: relative;
            }

            &-board {
                max-height: 80%;
            }

            &-buttons {
                max-height: 11%;
                gap: 1%;
            }

            &-buttons-entry {
                // overflow: hidden;
                height: 100%;
                width: fit-content;
            }

            &-button {
                // overflow: hidden;
                // max-height: 20%;
                height: 100%;
                width: fit-content;
            }

            &-coin {
                height: 100%;
            }
        }
    }
}
